<nav class="nav">
  <div class="nav-main">
      <div class="logo">RE<span>MINDER</span></div>
      <ul class="nav-links">
          <li class="nav-link"><a routerLink="">Home</a></li>
      </ul>
  </div>
     
  <div class="cta">
      <button class="btn btn-secondary" routerLink="login">Log In</button>
      <button class="btn btn-primary"routerLink="register">Sign Up</button>
  </div>

</nav>
<body>
    <div class="waviy">
      <span style="--i:1">M</span>
      <span style="--i:2">A</span>
      <span style="--i:3">K</span>
      <span style="--i:4">E </span> 
      <span style="--i:6">I</span>
      <span style="--i:7">T</span> 
      <span style="--i:8">E</span>
      <span style="--i:9">A</span>
      <span style="--i:10">S</span>
        <span style="--i:11">I</span>
       <span style="--i:12">E</span>
      <span style="--i:13">R</span>

      <span style="--i:14">T</span>
      <span style="--i:15">H</span> 
      <span style="--i:16">A</span> 
      <span style="--i:17">N</span>  
      <span style="--i:18">E</span> 
      <span style="--i:19">V</span> 
      <span style="--i:20">E</span> 
      <span style="--i:21">R</span> 

      <span style="--i:22">T</span> 
      <span style="--i:23">O</span>  
    
      <span style="--i:24">R</span>
      <span style="--i:25">E</span>
      <span style="--i:26">M</span>
      <span style="--i:27">B</span>
      <span style="--i:28">E</span>
      <span style="--i:29">R</span>
      <br>
      <span style="--i:30">T</span>
      <span style="--i:31">H</span>
      <span style="--i:32">E</span>
    
      <span style="--i:33">T</span>
      <span style="--i:34">H</span>
      <span style="--i:35">I</span>
       <span style="--i:36">N</span>
       <span style="--i:37">G</span>
       <span style="--i:38">S</span> 
       <span style="--i:39">Y</span>
       <span style="--i:40">O</span>
       <span style="--i:41">U</span>

       <span style="--i:42">N</span>
       <span style="--i:43">E</span>
       <span style="--i:44">E</span>
       <span style="--i:45">D</span>
   
       <span style="--i:46">T</span>
       <span style="--i:47">O</span>
    
      <span style="--i:48">Y</span>
      <span style="--i:49">O</span>
       <span style="--i:50">U</span>
     </div>
   </body>